@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kablammo&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kablammo&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rock+Salt&display=swap');
.heading {
    font-family: 'PT Serif', sans-serif;
}

.khadok{
    font-family: 'Rock Salt', sans-serif;
}

/* .banner{
    background-image: url(../../assetes/khadokBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 90vh;
}

.cover{
    width: 100%;
    height: 90vh;
    background-color: black;
    opacity: 0.4;
} */

